.but_1{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	border-color : black;
	
}
a#calendar, a.calendar {
	overflow: hidden;
    display: inline-block;
	background: url(https://farm4.staticflickr.com/3854/14472313019_867d34c90c_s.jpg) no-repeat;
    background-size: 32px;
	text-indent: -2000em;
}
    	/* div{
    		border:1px solid red;
    	} */
    	.div_hyuns{
    		margin-right: 0em;	
    		padding-bottom: 2em;
    	}
    	.div_2_hyuns{
    		margin-right: 0em;
    		
    		
    	}
    	hr{
    		margin:0em;
    	}
    	#pagebar{
    		text-align: center;
    	}

.ui-datepicker-trigger{display: none;}