@charset "UTF-8";

.container {
  font-family: "Noto Sans KR", sans-serif;
}

.left-image {
  padding: 20px;
}
.right-input {
  padding: 50px;
}

.col-xl-5 {
  /* border: 1px solid black; */
  background-color: whitesmoke;
}

.col-xl-5 > img {
  height: 460px;
}
.form-group {
  text-align: left;
}
.form-group > label {
  font-size: 20px;
  margin-bottom: 15px;
}
.btn-submit {
  margin: 10px 0px;
}
