@charset "UTF-8";

.container {
  font-family: "Noto Sans KR", sans-serif;
}

.container > h1 {
  margin-top: 80px;
  margin-left: 50px;
  text-align: left;
}

.row > .col-xl-10 > div {
  text-align: center;
  color: #333;
  margin-bottom: 60px;
  font-size: 18px;
}

.content_margin {
  margin-top: 15x;
}

.form-style {
  text-align: center;
}

.form-style > .form-group > label {
  font-size: 20px;
}

.content-background {
  background-color: white;
  padding: 60px 20px;
}

.input-phonenumber {
  height: 40px;
  text-align: center;
  font-size: 20px;
}

.button-send {
  margin-top: 20px;
  width: 120px;
  height: 40px;
}

.span-send {
  font-size: 20px;
}
