#container {
  width: 1280px;
  height: 720px;
  margin: 0px auto;
  padding: 20px;
  font-family: "Do hyeon";
}

#sidebar-right {
  width: 160px;
  padding: 20px;
  margin-bottom: 20px;
  float: right;
  border: 1px solid #bcbcbc;
}

#header {
  width: 100%;
  padding: 20px;
  height: 80px;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #bdbdbd;
  color: #ffffff;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  position: fixed;
}

#content {
  width: 1280px;
  padding: 20px;
  margin-left: 0px;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #bcbcbc;
  background-color: #f3f3f3;
}

#footer {
  clear: both;
  width: 1280px;
  padding: 20px;
  height: 150px;
  background-color: #bdbdbd;
  color: #fff;
  border: 1px solid #bcbcbc;
}

.inputTable {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  margin-top: 35px;
  font-size: 20px;
  border-collapse: separate;
  border-spacing: 0 30px;
  overflow: hidden;
}

.inputBox {
  font-family: AppleSDGothicNeo;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.93px;
  color: #343e41;
  border: none;
  display: inline;
}

.fileBtn {
  margin-left: 3px;
  width: 500px;
}
.lastTd {
  text-align: center;
}

.lastBtn {
  width: 100px;
  height: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
.tableTd {
  width: 500px;
  padding: 10px;
  background-color: #fffefe;
  box-shadow: 2px 2px 5px grey;
  border-radius: 30px;
}
.tableTr {
  text-align: left;
  width: 538px;
  height: 63px;
}

.tablePromptText {
  width: 470.3px;
  height: 12px;
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.71px;
  color: rgba(52, 62, 65, 0.25);
}

.submit {
  width: 226.7px;
  height: 78.7px;
  border-radius: 25.5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #fffc00;
  font-family: AppleSDGothicNeo;
  font-size: 30px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.08px;
  text-align: center;
  color: #000000;
}

.radioAgree {
  display: inline;
  border: solid 1px #979797;
  background-color: #d8d8d8;
}
.radioText {
  display: inline;
  font-family: AppleSDGothicNeo;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.44px;
  text-align: center;
  color: #514e4e;
}
