#container {
  width: 1280px;
  height: 720px;
  margin: 0px auto;
  padding: 20px;
  font-family: "Do hyeon";
}

#sidebar-right {
  width: 160px;
  padding: 20px;
  margin-bottom: 20px;
  float: right;
  border: 1px solid #bcbcbc;
}

#header {
  width: 100%;
  padding: 20px;
  height: 80px;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #bdbdbd;
  color: #ffffff;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  position: fixed;
}

#content {
  width: 1280px;
  padding: 20px;
  padding-top: 100px;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 100px;
  float: left;
  text-align: center;
  border: 1px solid #bcbcbc;
  background-color: #f3f3f3;
}

#footer {
  clear: both;
  width: 1280px;
  padding: 20px;
  height: 150px;
  background-color: #bdbdbd;
  color: #fff;
  border: 1px solid #bcbcbc;
}

.promptText {
  display: inline;
  opacity: 0.6;
  font-family: AppleSDGothicNeo;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.34px;
  color: #494949;
}

.tableSet {
  margin-left: 140px;
  width: 1000px;
  height: 460px;
  /* border: solid 3px white; */
  text-align: center;
}

/* .shapeRec {
  margin-top: 50px;
  width: 200px;
  height: 88px;
  border-radius: 5px;
  background-color: #ffffff;
  display: inline-block;
  line-height: 88px;
}
.shapeKor {
  display: inline;
  width: 70px;
  height: 75px;
  border: 1px solid grey;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
} */
.shapeText {
  width: 482px;
  height: 88px;
}

.shapeLText {
  font-family: AlteHaasGrotesk_;
  letter-spacing: -0.96px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  width: 482px;
  height: 88px;
  border-radius: 5px;
  background-color: #ffffff;
}
.submit {
  width: 226.7px;
  height: 78.7px;
  border-radius: 25.5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #fffc00;
  font-family: AppleSDGothicNeo;
  font-size: 30px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.08px;
  text-align: center;
  color: #000000;
}

.radioType {
  display: inline;
  border: solid 1px #979797;
  background-color: #d8d8d8;
}
.radioText {
  display: inline;
  font-family: AppleSDGothicNeo;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.44px;
  text-align: center;
  color: #514e4e;
}
.rightRadio {
  margin-left: 25px;
}
.leftRadio {
  margin-right: 25px;
}
.lastTd {
  height: 70px;
  text-align: center;
}
