<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--[Start Import ] This Page Import Script and External Library -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- <link href="../../css/signUpClient-Style.css?ver=1.1" rel="stylesheet" /> -->
    <!-- <script src="../../js/signUpClient-js.js?ver=1.1" charset="utf-8"></script> -->
    <!-- [End Import] -->

    <!-- Moog Import Script -->
    <link href="../../css/style.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudfla
re.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <!-- eng moog import script -->
    <title>Document</title>
  </head>
  <body>
    <style>
      .container {
        font-family: "Noto Sans KR", sans-serif;
      }
    </style>
    <nav
      class="navbar sticky-top container-fluid d-flex justify-content-center"
      name="top-nav"
      id="top-nav"
    >
      <div class="input-group">
        <img
          src="../../images/project_images/t-logo-png-twitter-logo-18.png"
          alt="logo.png"
          class="front-logo"
          id="logo"
        />
        <p>&nbsp&nbsp</p>
        <!-- search bar -->
        <input
          type="text"
          class="form-control rounded"
          placeholder="Search"
          name="search-bar"
          aria-label="Small"
          aria-describedby="inputGroup-sizing-sm"
          id="search-bar"
        />
        <p>&nbsp&nbsp</p>
        <div class="navbar-right btn btn-xs">
          <button class="btn btn-warning btn-lg" type="submit">
            <i class="fas fa-search"></i>
          </button>
          <button class="btn btn-light btn-lg" onclick="redirect();">
            <i class="fas fa-envelope"></i>
          </button>
        </div>
      </div>
    </nav>

    <div class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">관리자</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">유저관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">게시글관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">건의사항</a>
          </li>
        </ul>
        &nbsp;&nbsp;
        <form action="" method="post" class="form-inline">
          <select id="searchType" name="searchType" class="custom-select form-control">
            <option selected>Type</option>
            <option value="id">아이디</option>
            <option value="name">이름</option>
            <option value="level">권한</option>
          </select>
          &nbsp; &nbsp; &nbsp;
          <input class="form-control" type="text" name="" id="" placeholder="Keyword" />
          <button type="submit" class="btn btn-success">검색</button>
        </form>
      </div>
    </div>

    <div class="container" style="border: 1px solid black;margin-top: 3%">
      <table class="table">
        <thead class="thead-light">
          <th>ID</th>
          <th>NAME</th>
          <th>REGDATE</th>
          <th>MODDATE</th>
          <th>USER_LEVEL</th>
          <th>DETAIL CHECK</th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <style>
      .list-padding {
        padding: 10px 5px;
      }
    </style>
  </body>
</html>
